/* ===========================| section one |============================= */
.child-mealify {
  width: 95%;
}
/* ===========================| section two |============================= */
.Enjoy-all {
  width: 95%;
}
/* ===========================| section three |============================= */
.card-chefs {
  width: 95%;
}
/* ===========================| section four |============================= */

.items-four {
  width: 95%;
}
/* ===========================| section five |============================= */
.container {
  width: 95%;
}
/* ===========================| section six |============================= */
.footer-parents {
  width: 95%;
}
